
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

a{
	color: #7e8c8d;
	display: block;
	text-decoration: none;
}
.weekend-item  img.itemImg{
	width: 100%
}